@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
// variables
// primary
$p-blue: #57c5c5;
$p-grey: #8c9cb1;
$p-teal: #1b3d51;
// secondary
$s-inbox-inactive: #f5fcfc;
$s-section-dividers: #e8f1f1;
$s-inactive-tab: #bcc6cc;

// FONTS
$f-h1: 700 2rem "Inter";
$f-h2: 500 1.125rem "Inter";
$f-h3-bold: 700 1rem "Inter";
$f-h3: 400 1rem "Inter";
$f-h4: 400 0.8rem "Inter";
$f-p-large: 400 1rem/160% "Inter";
$f-p-small: 400 0.8rem/160%;
$f-label: 400 0.8rem "Inter";

.email-clone {
    font-family: "Inter", normal;
    color: aqua;
    // font-size: ;
    &__body {
        display: flex;
        flex-direction: row;
    }
}

.inbox-tab {
    width: 15%;
    display: flex;
    flex-direction: column;
    font: $f-h1;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        height: 60px;
        font-family: "Inter";

        &--img {
            width: 30px;
        }
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: #1b3d51 2px solid;
    top: 0;
    left: 0;
    &__logo {
        width: 40px;
        height: 40px;
    }
    &__profile {
        // justify-self: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 30px;
    }
}

.email-cards-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.email-card {
    display: grid;
    grid-template-areas:
        "img  sender date"
        "img   head date "
        "img  body date  ";
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    height: 200px;

    &__sender {
        font: $f-h4;
        grid-area: sender;
    }
    &__date-sent {
        font: $f-h4;
        grid-area: date;
    }
    &__header {
        grid-area: head;
        &--opened {
            font: $f-h3;
        }
        &--unopened {
            font: $f-h3-bold;
        }
    }
    &__body {
        font: $f-p-small;
        grid-area: body;
    }
    &__img {
        grid-area: img;
    }
}

.email-opened {
    background-color: white;
}
.email-unopened {
    background-color: $s-inbox-inactive;
}

.current-email {
    width: 50%;
}
